$body-bg: #f4f4f4;
$body-front: #313131;

$highlight-color: #a65353;

$nav-bg: #374c6e;
$nav-front: #fff;

$cta1-back: $highlight-color;
$cta1-front: #fff;
$cta2-back: #374c6e;
$cta2-front: #fff;

$footer-bg: $nav-bg;
$footer-front: $nav-front;